{{!-- added 'test' placeholder to have a visual for rendering the dashboard --}}
<header>

<img src="/images/logo.png" alt="Logo" class="logo mb-5" />
<button id="logout" class="btn btn-secondary m-2"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
</header>

<h1>test</h1>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>
