<header>
  <img src="/images/logo.png" alt="Logo" class="logo mb-5" />
  <button id="logout" class="btn btn-secondary m-2">
    <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
  </button>
</header>

<main class="container">
  <div id="dashboard-content" class="col-12 row">
    <!-- Budget Column -->
    <div class="col-md-4">
      <div class="card p-4 m-1">
        <h5>Define your Expenses</h5>
        <div id="budget-categories">
          {{!-- added budgetchart -tb--}}
          <canvas id="budgetChart" width="400" height="400"></canvas>
          <!-- Default Categories will be added by JavaScript -->
        </div>
        <div id="add-category-section" class="mt-4">
          <input type="text" id="new-category-name" class="form-control mb-2" placeholder="Enter New Category Name">
          <button id="add-category-btn" class="btn btn-primary"><i class="fa-solid fa-plus"></i> New Category</button>
        </div>
      </div>
    </div>
    <!-- Goal Column -->
<div id="goal-column" class="col-md-8">
  <div class="card p-4 m-1">
    <h5>Define your Goals</h5>
    <div class="row" id="goal-categories">
      {{!-- added goal chart -tb --}}
      <canvas id="goalChart" width="400" height="228"></canvas>
      <!-- Two sub-columns for Goal Categories -->
      <div class="col-md-6" id="goal-categories-left"></div> <!-- Left column -->
      <div class="col-md-6" id="goal-categories-right"></div> <!-- Right column -->

    </div>
  </div>
</div>

</main>

{{!-- added chart script -tb --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/dashboard.js"></script>
