<div class="d-flex justify-content-center flex-column">
    <img id="logo" src="/images/logo.png" alt="Logo" class="logo mb-5" />
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div id="buttonsContainer" class="d-flex justify-content-center text-center mb-5">
            <button id="showLogin" class="btn btn-primary m-2">Login</button>
            <button id="showSignup" class="btn btn-secondary m-2">Sign Up</button>
        </div>
        <div id="loginForm" class="form-container d-none">
            <span id="backFromLogin" class="back-arrow"><i class="fas fa-times"></i></span>
            <h2>Login</h2>
            <form class="form login-form">
                <div class="form-group">
                    <label for="email-login">Email:</label>
                    <input type="text" class="form-control" id="email-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">Password:</label>
                    <input type="password" class="form-control" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div id="signupForm" class="form-container d-none">
            <span id="backFromSignup" class="back-arrow"><i class="fas fa-times"></i></span>
            <h2>Sign Up</h2>
            <form class="form signup-form">
                <div class="form-group">
                    <label for="name-signup">Name:</label>
                    <input type="text" class="form-control" id="name-signup" />
                </div>
                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input type="text" class="form-control" id="email-signup" />
                </div>
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input type="password" class="form-control" id="password-signup" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Signup</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
<script src="./js/login.js"></script>
