body {
  background-color: beige !important;
}

#logo {
  height: 100px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-bottom: 50px;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
  height: 100px;
}

header #logout {
  position: fixed;
  top: 20px;
  right: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  position: relative;
  /* Other styling for the form, ensuring it doesn't cover the full page width */
  max-width: 400px; /* Example width, adjust as needed */
  margin: auto; /* Center the form if it doesn't fill the width of its container */
}

.back-arrow {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0px; /* Positions the cross inside the top-right corner of .form-container */
  font-size: 24px; /* Adjust size as needed */
}

#showLogin, #showSignup {
  width: 100px;
}

#showLogin {
  background-color: #793842;
  border-color: #793842;
}

#showLogin:hover {
  background-color: #febaaf;
  border-color: #febaaf;
  color: #793842;
}

#showSignup, #logout {
  background-color: beige;
  border: solid 2px #793842;
  color: #793842;
}

#showSignup:hover, #logout:hover {
  background-color: #febaaf;
  border-color: #febaaf;
  color: #793842;
}

.hidden-important {
  display: none !important;
}

#loginForm button, #signupForm button {
  background-color: #793842;
  border: solid 2px #793842;
  width: 100px;
  margin-top: 10px;
}

#loginForm button:hover, #signupForm button:hover {
  background-color: #febaaf;
  border-color: #febaaf;
  color: #793842;
  width: 100px;
}

.d-none {
  display: none !important;
}

.hidden {
  display: none !important;
}