:root { 
  --primary: #793842;
  --secondary: #febaaf;
}

html, body {
  height: 100%;
  overflow-y: auto;
  background-color: beige !important;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #ddd;
  z-index: 10;
}


#logo {
  height: 100px;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  z-index: 1000;
  box-shadow: 0px 1px 3px var(--primary);
}

header img {
  top: 0px;
  left: 0px;
  padding: 20px;
  height: 100px;
}

header #logout {
  position: fixed;
  top: 20px;
  right: 20px;
}



/* Remove the fixed height on the container to allow for dynamic content length */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the start of the container */
  min-height: 100vh; /* Ensure it takes at least the viewport height */
  padding-top: 180px; /* Adjust based on your actual header height */
}

#login-page {
  padding-top: 0px !important;
}

#goal-categories-left {
  padding-top: 30px;
}

#budgetChart {
  margin-bottom: 30px;
}

.form-container {
  position: relative;
  /* Other styling for the form, ensuring it doesn't cover the full page width */
  max-width: 400px; /* Example width, adjust as needed */
  margin: auto; /* Center the form if it doesn't fill the width of its container */
}

.back-arrow {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0px; /* Positions the cross inside the top-right corner of .form-container */
  font-size: 24px; /* Adjust size as needed */
}

#showLogin, #showSignup {
  width: 100px;
}

#add-category-btn {
  width: 150px;
}

#showLogin, #add-category-btn {
  background-color: var(--primary);
  border-color: var(--primary);
}

#showLogin:hover, #add-category-btn:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
}

#showSignup {
  background-color: beige;
  border: solid 2px var(--primary);
  color: var(--primary);
}

#logout {
  background-color: white;
  border: solid 2px var(--primary);
  color: var(--primary);
}

#showSignup:hover, #logout:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
}

.hidden-important {
  display: none !important;
}

#loginForm button, #signupForm button, #add-category-btn button {
  background-color: var(--primary);
  border: solid 2px var(--primary);
  width: 100px;
  margin-top: 10px;
}

#loginForm button:hover, #signupForm button:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
  width: 100px;
}

.d-none {
  display: none !important;
}

.hidden {
  display: none !important;
}

.my-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

#goal-column {
  margin-bottom: 200px;
}

h5 {
  color: var(--primary) !important;
  margin-bottom: 20px !important;
  font-size: 1.5rem !important;
  font-weight: 800 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0 !important;
}

.form-label {
  margin-top: .3rem;
}

.input-group {
  width: 200px !important;
}

#loginForm .form-control, #signupForm .form-control {
  margin-bottom: 10px !important;
}

footer {
  background-color: var(--primary);
  padding: 30px 30px 0 30px;
  color: white;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--primary);
}

footer a:hover {
  text-decoration: none;
  color: white;
}

#main-footer {
  padding: 30px;
  color: var(--primary);
  text-align: center;
}

#main-footer a {
  text-decoration: none;
  color: var(--primary);
}

#main-footer a:hover {
  text-decoration: none;
  color: var(--primary);
}

/* #footer-btn {
  background-color: white;
  color: var(--primary);
  border: solid 2px var(--primary);
  text-align: center;
} */

.footer-btn2 {
  background-color: beige !important;
  color: var(--primary) !important;
  border: solid 2px var(--primary) !important;
  text-align: center !important;
  padding: 5px;
  border-radius: 6px;
  margin: 6px;
}


.footer-btn2:hover {
  color: white !important;
  background-color: var(--secondary) !important;
  border: solid 2px var(--secondary) !important;
}

@media screen and (max-width: 400px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Keeps the header above other content */
  }
  
  main {
    padding-top: 100px; /* Adjust this based on the actual height of your header */
  }

  .input-group-text, .form-control {
    font-size: 0.8rem; /* Reduce font size */
}

.form-label {
    margin-top: .6rem;
    margin-right: 0.5rem; /* Reduce margin */
    font-size: 0.8rem; /* Reduce font size */
}

.input-group {
  width: 165px !important;
}

.form-control {
  font-size: .8rem !important;
}

.back-arrow {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px; /* Positions the cross inside the top-right corner of .form-container */
  font-size: 24px; /* Adjust size as needed */
}

}

@media (min-width: 768px) { /* Adjusts for medium screens and up */
  .my-container {
    max-width: calc(100% - 40px); /* Assuming you want the container itself to respect the 20px margins */
  }
}